<p id="notice"><%= notice %></p>
  		    	
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  	<div class="col-lg-6 col-md-6">
  		<div class="ibox" >
  		    <div class="ibox-content product-box" >
  						<div class="ibox-content no-padding border-left-right" >
  						  <img src=<%=@blogpost.image%> class='img-responsive' style='height: 100%; width: 100%; object-fit: contain'/>
  						</div>
			        <div class="product-desc">
			            <h2> <%= @blogpost.title %> </h2>
			        	  <h3> <%= @blogpost.subtitle %> </h3>
			            <div class=" medium-t-xs">
			               <%= @blogpost.body %>
			            </div>
			            <div class="m-t text-righ">
			                <a href=<%= @blogpost.link %> class="btn btn-s btn-outline btn-primary">Continuar lendo <i class="fa fa-long-arrow-right"></i> </a>
			                <%= link_to 'Editar', edit_blogpost_path(@blogpost), class:"btn btn-s btn-primary btn-outline pull-right"%>
			            </div>
			        </div>
  			    </div>
  			</div>
  		</div>
  </div>
  <%= link_to 'Voltar', blogposts_path, class:"btn btn-primary " %>
</div>
