<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h2>Entidades</h2>
    </div>
    <div class="ibox-content">
      <table class="table table-over">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Atividades</th>
            <th>Certificados</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @entities.each do |entity| %>
            <tr>
              <td style="vertical-align: middle;"><%= image_tag(entity.image.url(:small), class: 'img-circle') %></td>
              <td style="vertical-align: middle;"><h3><%= entity.name %></h3></td>
              <td style="vertical-align: middle;"><%= entity.email %></td>
              <td style="vertical-align: middle;"><%= entity.activities.count %></td>
              <td style="vertical-align: middle;"><%= entity.certificates.count %></td>
              <td style="vertical-align: middle;">
                <div class="btn-group">
                  <%= link_to 'Show', entity, class:"btn btn-xs btn-default" %>
                  <%= link_to 'Edit', edit_entity_path(entity), class:"btn btn-xs btn-default"  %>
                  <%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-default"  %>
                </div>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="ibox-footer">
      <%= link_to 'Nova Entidade', new_entity_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
