<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-9">
            <div class="profile-image">
                <%= image_tag(@entity.image.url(:square), class: 'img-circle circle-border m-b-md') %>
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            <%= @entity.name %>
                        </h2>
                        <h4>Headline</h4>
                        <small>
                           <% if @entity.intro&&@entity.intro!="" %>
                              <p><%= raw @entity.intro %></p>
                          <% end %>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="tag-title">Tags</h5>
            <ul class="tag-list" style="padding: 0">
                <li><a href="">Inovação</a></li>
                <li><a href="">Empreendedorismo</a></li>
                <li><a href="">Workshop</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <% if @entity.intro&&@entity.intro!="" %>                                  
                <div class="ibox">
                    <div class="ibox-content">
                      <h3>Sobre <%= @entity.name %></h3>
                      <p class="small">
                          <%= raw @entity.intro %>
                      </p>
                      <p class="small font-bold">
                          <span><i class="fa fa-circle text-navy"></i> Online status</span>
                      </p>
                    </div>
                </div>
            <% end %>
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Conexões</h3>
                    <div class="user-friends">
                        <% @entities.each do |entity| %>
                            <%= link_to image_tag(entity.image.url(:small), :class => 'img-circle'), entity_path(entity)  %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 m-b-lg">
          <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
              <% if @entity.certificates.any? %>
                  <%= render @entity.certificates %>
              <% end %>      
              <% if @entity.activities.any? %>
                  <%= render @entity.activities %>
              <% end %>
              <% if @entity.owned_paths.any? %>
                  <%= render @entity.owned_paths %>
              <% end %>
          </div>
        </div>
    </div>
</div>






