<div class="wrapper wrapper-content animated fadeInRight">
    <% if notice %>
        <div class="alert alert-info alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <%= notice %>
        </div>
    <% end %>

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            Alex Smith
                        </h2>
                        <h4>Founder of Groupeq</h4>
                        <small>
                           <% if @entity.intro&&@entity.intro!="" %>
                              <p><%= raw @entity.intro %></p>
                          <% end %>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<% if @entity.certificates.any? %>
<section id="two">
  <h2>Certificados</h2>
    <%= render @entity.certificates %>
</section>
<% end %>


<% if @entity.activities.any? %>
  <section id="three">
  <h2>Atividades criadas</h2>
    <%= render @entity.activities %>
  </section>
<% end %>

<% if @entity.owned_paths.any? %>
  <section id="four">
  <h2>Currículos criados</h2>
    <%= render @entity.owned_paths %>
  </p>
<% end %>
<section>
  <p align="center">
    
  </p>
</section>