<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if @entity.intro %>
  <section id="one">
    <p><%= @entity.intro %></p>
  </section>
<% end %>

<% if @entity.certificates.any? %>
<section id="two">
  <h2>Certificados</h2>
    <%= render @entity.certificates %>
</section>
<% end %>

<% if current_user&&current_user.uid=="10153629801172736" %>
  <% if @entity.activities.any? %>
    <section id="three">
    <h2>Atividades criadas</h2>
      <%= render @entity.activities %>
    </section>
  <% end %>
  
  <% if @entity.owned_paths.any? %>
    <section id="four">
    <h2>Currículos criados</h2>
      <%= render @entity.owned_paths %>
    </p>
  <% end %>
  
  <%= link_to 'Edit', edit_entity_path(@entity) %> |
  <%= link_to 'Back', entities_path %>
<% end %>
