<header id="header">
    <%= link_to image_tag('alt_logo.png'), root_path, class: "image avatar" %>
	<h1>Somos a <strong>Escola Pirata</strong>.<br />
	Viemos derrubar as</br> barreiras da educação.</h1>

	<% if !current_user %>
		<%= link_to "Entrar com o Facebook", '/auth/facebook' %></br>
	<% else %>
		<%= link_to "Atividades", activities_path %>|
		<%= link_to "Entidades", entities_path %>|
		<%= link_to 'Log Out', signout_path %></br>
	<% end %>
	
</header>