<div class="4u 12u$(xsmall)">
    <div class="card">
        <div class="card-header" style="background-image:   url(<%= asset_url('overlay.png') %>), url(<%= asset_url('activities/calculus.jpg') %>)">
            <h1>
               <%= link_to activity.name, activity_path(activity)%>  
            </h1>
            
        </div>
        <div class="card-body">
            Owner: <%= activity.owner %>
            <%= link_to 'Show', activity %> | 
            <%= link_to 'Edit', edit_activity_path(activity) %> |
            <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
        </div>
    </div>
</div>