<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
      <div class="col-md-4">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h4><%= link_to @activity.name, activity_path(@activity)%></small></h4>
              </div>
              <div class="ibox-content no-padding border-left-right">
                  <%= image_tag @activity.image.url(:cover), class:"img-responsive" %>
              </div>
              <div class="ibox-content profile-content">
                  <div class="row">
                    <div class="col-sm-1"><span class="fa fa-calendar"></span></span></div>
                    <div class="col-sm-10">26 ABR 18:30</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-1"><span class="fa fa-map-marker"></span></span></div>
                    <div class="col-sm-10">Laboratório Aberto do ITA - CCM (dentro do CTA)</div>
                  </div>
                  <h5>Introdução</h5>
                  <p>
                      <%= @activity.intro %>
                  </p>
                  <h5 class="tag-title">Tags</h5>
                  <% if @activity.tags.any? %>
                  <ul class="tag-list" style="padding: 0">
                      <% @activity.tags.each do |tag| %>
                          <li><%= link_to tag.name, tag_path(tag.name), class:"btn btn-xs btn-default" %></li>
                      <% end %>
                  </ul>
                  <% else %>
                      Sem Tags
                  <% end %>
                  <div class="clearfix"></div>
              </div>
          </div>
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                Organizadores
              </div>
              <div class="ibox-content">
                  <% @activity.entities.each do |entity| %>
                    <div class="row">
                      <div class="col-sm-3">
                        <%= link_to entity_path(entity) do %>
                          <%= image_tag entity.image.url(:small), class:"img-responsive img-circle" %>
                        <% end %>
                      </div>
                      <div class="col-sm-9">
                        <h4><%= link_to entity.name, entity_path(entity) %></h4>
                      </div>
                    </div>
                  <% end %>
              </div>
          </div>

      </div>
      <div class="col-md-8">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Conteúdo</h5>
              </div>
              <div class="ibox-content">
                  <%= markdown(@activity.content) %>
              </div>
          </div>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Participantes</h5>
            </div>
            <div class="ibox-content">
              <% if %>
                  <% @activity.certificates.each do |classmates| %>
                      <%= link_to image_tag(classmates.owner.image.url(:small), :alt => classmates.owner.name, :class => 'img-circle'), entity_path(classmates.owner)  %>
                  <% end %>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>