<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @activity.owner %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @activity.timestamps %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
