<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @activity.name %>
</p>
<p>
  <strong>Criador:</strong>
  <%= @activity.entities.first.name %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
