<!DOCTYPE html>
<html>
<head>
  <title>Escola Pirata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if current_user&&current_user.uid=="10153629801172736" %>
<!-- Admin Navbar -->
	<%= render :partial => 'shared/admin' %>
<% end %>

<!-- Header -->
	<%= render :partial => 'shared/header' %>

<!-- Main -->
	<div id="main">
    <%= yield %>
	</div>

<!-- Footer -->
	<%= render :partial => 'shared/footer' %>

<% if controller_name == "pages" && controller.action_name=="index"  %>
  <!-- Modal -->
  	<div class="modal" tabindex="-3" role="dialog" id="betaTester">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	        <h4 class="modal-title">Quero ser Beta tester!</h4>
  	      </div>
  	      <div class="modal-body" id="beta-modal">
  	      	<%= render 'betatester_form' %>
  
  	      </div>
    	      <div class="modal-body" id="beta-success" style="display:none">
  	      	E-mail enviado com sucesso. Te avisaremos assim que nossa versão beta estiver no ar.
  	      </div>
  	    </div><!-- /.modal-content -->
  	  </div><!-- /.modal-dialog -->
  	</div><!-- /.modal -->
<% end %>

</body>
</html>
